{% extends "base.twig" %}
{% block head %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                {#{{ post.content }}#}
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>We Are Creative Nerds</h1>
                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                        <a href="{{site.theme.uri}}/#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="{{site.theme.uri}}/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="{{site.theme.uri}}/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="{{site.theme.uri}}/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="{{site.theme.uri}}/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="{{site.theme.uri}}/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
    <!--    rename 's/\[loveislifeforlovers@gmail.com]--/-/g' *.mp3 -v-->
{% endblock%}
{% block content %}
    <section id="services">
        <div class="container">
            <div class="row">
                {{function('get_sidebar')}}
            </div>
        </div>
    </section>
    <!--/#services-->
    {% if tour_data %}
        {% if tour_data.thumbnail.src  %}
            {% set  new_image=tour_data.thumbnail.src %}
        {%  else %}
            {% set  new_image=''  %}
        {% endif %}
        <section id="action" class="responsive">
            <div class="vertical-center">
                <div class="container">
                    <div class="row">
                        <div class="action take-tour">
                            <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                <!--                            <h1 class="title">Triangle Corporate Template</h1>
                                                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>-->
                                {{tour_data.content}}
                            </div>
                            <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="tour-button" style="background-image:url('{{new_image}}')">
                                    <a href="{{tour_data.permalink}}" class="btn btn-common">{{tour_data.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                {% set counter = 1 %}
                {% set left_class = 'col-sm-5 wow fadeInLeft' %}
                {% set right_class = 'col-sm-6 col-sm-offset-1 align-right wow fadeInLeft' %}
                {% set left_content_class = 'col-sm-6 wow fadeInRight' %}
                {% set right_content_class = 'col-sm-5 wow fadeInRight' %}
                {% for home_post in homepageposts %}
                    <div class="single-features">
                        {% if(counter%2!=0) %} 
                            <div class="{% if(counter%2!=0) %}{{left_class}} {% else %} {{right_class}} {% endif %}" data-wow-duration="500ms" data-wow-delay="300ms">
                                {% if home_post.thumbnail.src %}
                                    <img src="{{home_post.thumbnail.src |resize(400,184)}}" class="img-responsive" alt="{{home_post.title}}">
                                {% else %}
                                    <img src="{{no_image}}" class="img-responsive" alt="{{home_post.title}}">
                                {% endif%}
                            </div>
                            <div class="{% if(counter%2!=0) %}{{left_content_class}} {% else %} {{right_content_class}} {% endif %}" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{home_post.title}}</h2>
                                <P>{{home_post.get_preview(60)}}</P>
                            </div>
                        {% else %} 
                            <div class="{% if(counter%2!=0) %}{{left_content_class}} {% else %} {{right_content_class}} {% endif %}" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{home_post.title}}</h2>
                                <P>{{home_post.get_preview(60)}}</P>
                            </div>
                            <div class="{% if(counter%2!=0) %}{{left_class}} {% else %} {{right_class}} {% endif %}" data-wow-duration="500ms" data-wow-delay="300ms">
                                {% if home_post.thumbnail.src %}
                                    <img src="{{home_post.thumbnail.src  |resize(400,184)}}" class="img-responsive" alt="{{home_post.title}}">
                                {% else %}
                                    <img src="{{no_image}}" class="img-responsive" alt="{{home_post.title}}">
                                {% endif%}
                            </div>
                        {% endif%}
                    </div>  
                    {% set counter=counter+1 %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!--/#features-->
    {% if clients %}
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            <p><img src="{{site.theme.uri}}/images/home/clients.png" class="img-responsive" alt=""></p>
                            <h1 class="title">Happy Clients</h1>
                        </div>
                        <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                            {% if clients is iterable %}
                                {% for singleclient in clients %}
                                    <div class="col-xs-3 col-sm-2">
                                        <a href="#"><img src="{{singleclient.thumbnail.src}}" class="img-responsive" alt="{{singleclient.title}}"></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}                       
{% endblock %}