<footer id="footer">
<div class="inner">
    <ul class="icons">
        <li><a href="{{s_facebook}}" class="icon fa-facebook">
                <span class="label">Facebook</span>
            </a></li>
        <li><a href="{{s_twitter}}" class="icon fa-twitter">
                <span class="label">Twitter</span>
            </a></li>
        <li><a href="{{s_linkedin}}" class="icon fa-linkedin">
                <span class="label">LinkedIn</span>
            </a></li>
    </ul>
    <ul class="copyright">
        <li>{{footer_copyright}}</li>
    </ul>
</div>
</footer>
<!-- Scripts -->
<script src="{{site.theme.link}}/assets/js/jquery.min.js"></script>
<script src="{{site.theme.link}}/assets/js/skel.min.js"></script>
<script src="{{site.theme.link}}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{site.theme.link}}/assets/js/main.js"></script>
{{ function('wp_footer') }}
</body>
</html>